---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Spring Creek Golf League">

<h1>Golf League Tally Sheet</h1>

<form 
name="tallysheet" id="form1" method="post" data-netlify="true" onSubmit="submit"
data-netlify-honeypot="bot-field"
>
<input type="hidden" name="bot-field">
<input type="date" name="date"> <br><br>
Team: <select name="team1" id="team1" >
    <option value="" selected="selected">Select team</option>
  </select><br>
Points: <input type="number" id="t1pts" name="t1pts" min="0" max="54"><br><br>
A: <select name="p1A" id="player1A">
  <option value="" selected="selected">Please select player</option>
</select><br>
Score: <input type="number" id="p1Ascore" name="p1Ascore" min="30" max="72"><br><br>
B: <select name="p1B" id="player1B">
  <option value="" selected="selected">Please select player</option>
</select><br>
Score: <input type="number" id="p1Bscore" name="p1Bscore" min="30" max="72"><br><br>
Team: <select name="team2" id="team2" >
    <option value="" selected="selected">Select team</option>
  </select><br>
Points: <input type="number" id="t2pts" name="t2pts" min="0" max="54">
<br><br>
A: <select name="p2A" id="player2A">
    <option value="" selected="selected">Please select player</option>
  </select><br>
Score: <input type="number" id="p2Ascore" name="p2Ascore" min="30" max="72">
  <br><br>
B: <select name="p2B" id="player2B">
    <option value="" selected="selected">Please select player</option>
  </select><br>
  Score: <input type="number" id="p2Bscore" name="p2Bscore" min="30" max="72">
  <br><br>
  <label for="file">Take a photo to upload</label><br><br>
  <input type="file" id="upload" name="upload" accept="image/*" /> <br><br><br>

  <input type="submit" value="submit"> 
 
</form>



</Layout>


<script>

async function getTeamData(url) {
  const response = await fetch(url);
  return response.json();
}

const teamPlayer = await getTeamData('https://alvisbjones.github.io/jsonfiles/teamplayer.json');

console.log(teamPlayer)


window.onload = function() {
  const team1Sel = document.getElementById("team1");
  const team2Sel = document.getElementById("team2");
  const playerSel1A = document.getElementById("player1A");
  const playerSel2A = document.getElementById("player2A");
  const playerSel1B = document.getElementById("player1B");
  const playerSel2B = document.getElementById("player2B");
  
 
  for (const t of teamPlayer.teams) {
    team1Sel.options[team1Sel.options.length] = new Option(t.name, t.number-1);
    team2Sel.options[team2Sel.options.length] = new Option(t.name, t.number-1);
  }

  team1Sel.onchange = function() {
    //alert(this.name)
    //alert(this.value)
    //alert(teamPlayer.teams[this.value].players)
    if (team1Sel.selectedIndex == 0) {
      playerSel1A.length = 1;
      playerSel1B.length = 1;
    }
    
    if (team1Sel.selectedIndex > 0) {
      playerSel1A.length = 1;
      playerSel1B.length = 1;
      for (const p of teamPlayer.teams[this.value].players) {
        //alert(p.pid)
        const name = p.lastName + "," + p.firstName
        playerSel1A.options[playerSel1A.options.length] = new Option(name, p.pid);
        playerSel1B.options[playerSel1B.options.length] = new Option(name, p.pid);
    }
    }
  }

  
  team2Sel.onchange = function() {
    if (team2Sel.selectedIndex == 0) {
      playerSel2A.length = 1;
      playerSel2B.length = 1;
    }
    if (team2Sel.selectedIndex > 0) {
      playerSel2A.length = 1;
      playerSel2B.length = 1;
      for (const p of teamPlayer.teams[this.value].players) {
      //alert(p.pid)
        const name = p.lastName + "," + p.firstName
        playerSel2A.options[playerSel2A.options.length] = new Option(name, p.pid);
        playerSel2B.options[playerSel2B.options.length] = new Option(name, p.pid);
      }
    }
  }

}
</script>







