---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Spring Creek Golf League">
	<main>
		<h1><span class="text-gradient">Spring Creek Golf League</span></h1>
		<p class="instructions">
			Welcome to the Spring Creek Golf League for 2024.<br />
			See Info/About for joining Spond App for staying up to date <br />
			Send updates to <a href="mailto:3puttfool@gmail.com?Subject=Changes">3puttfool</a>
			(3puttfool@gmail.com)
		</p>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="/teams"
				title="Teams"
				body="2024 team listing with handicaps"
			/>
			<Card
				href="/players"
				title="Players"
				body="Player list - scores within last 5 years"
			/>
			<Card
			href="https://alvisbjones.github.io/golfpdf2023/pdf/2023Schedule.pdf"
			title="Schedule"
			body="2024 Schedule - 13 Team Round Robin"
			/>
			<Card
				href="https://alvisbjones.github.io/golfpdf2023/pdf/2023Standings.pdf"
				title="Standings"
				body="Week to week results for 2024"
			/>
			<Card
				href="https://alvisbjones.github.io/golfpdf2023/pdf/2023playoffs.pdf"
				title="Playoffs"
				body="2024 - Race to the Champion"
			/>
			<Card
				href="/about/"
				title="Info / About"
				body="Handicap info, Course info, Rules, Misc"
			/>
			<Card
				href="/tallysheet"
				title="Tally Sheet"
				body="Enter your info"
			/>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
