---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';
---


<Layout title="Spring Creek Golf League">
	<main>
		
		<h1><span class=" text-gradient">Spring Creek Golf League</span></h1>
        <div class="navigation"> <Nav/> </div>
       
		<p class="instructions">
			Please send copy of your match documents to either <a href="mailto:3puttfool@gmail.com?Subject=Tally%20Sheet">Tally Sheet</a>
			or
			Post to team 0 in the spond app.

			if link above does not work on your phone, send via email to:
			3puttfool@gmail.com
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/form"
				title="Tally Sheet Test input"
				body="Please try this link to submit scores"
			/>
		</ul>

		
		<p>Fill out your score card and tally sheet as normal, 
			and then send a photo to either of the above. <br /> <br /> 
			
			Doesn't need to be highest resolution, but don't pick lowest <br />
			Iphone large (1.6MB) is a good resolution <br />
			Example good photo:</p>

		<p>
			<img src="/example.jpg" width="500" alt="Tally Sheet Picture">

		</p>


      
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0rem;
		max-width: 80ch;
	}
    h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	p {
		padding: 0rem;

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
    .navigation {
        padding: .8em;
    }

</style>
